body{
    background-image: url(https://github.com/Vaaal0/fotos-ra-ces/blob/main/lejos%20a.jpg?raw=true);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen horizontalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ajusta la altura al 100% de la ventana visible */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}

.h-container {
    text-align: center; /* Center the text horizontally */
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Adjust as needed for spacing */
    border-radius: 10px; /* Adjust as needed for rounded corners */
}

.button-34 {
    position: fixed;
    bottom: 7vh;
    right: 10%; /* Ajusta según sea necesario para la distancia desde la derecha */
    background: #000000;
    border-radius: 999px;
    box-shadow: #03035e 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    font-size: 6vh;
    font-weight: 700;
    line-height: 7vh;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.button-34:hover{
    background-color: #ffffff;
    color: #000;
}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .8s ease;
 }
  
h1 {
    position: relative;
    font-size: 4vh;

}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

#menuToggle {
    display: block;
    position: fixed;
    top: 20px; /* Ajusta según sea necesario para la distancia desde arriba */
    left: 20px; /* Ajusta según sea necesario para la distancia desde la derecha */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ad1111; /* color del menú */
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
 #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px; /* Ajusta según sea necesario para la posición vertical */
    padding: 50px;
    padding-top: 125px;
    background: #deddee; /* color cuando abre el menu */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, -100%); /* Ajusta para que se desplace desde arriba y la izquierda */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}